/**
 * RHYTHM
 */

$leading: 1.5;

/**
* We're using a regular "beat" of the line-height to establish
* our vertical rhythm, so all spacing will be done using a
* multiple of the beat.
*/

@function beats($rhythm) {
	$beat: $rhythm * $leading;
	@return #{$beat}rem;
}

$gutter     : beats(.5);
$measure    : 72ch;
$stretch_min: beats(10);

/**
 * FONT-FACES
 */

$ff_alt: "IBM Plex Sans",
sans-serif;

$ff_heading: "Work Sans",
sans-serif;

$ff_running: "iA Writer Duo S",
monospace;

/**
 * FONT-SIZES
 */

$fs_blockquote : .9rem;
$fs_fineprint  : .8rem;
$fs_h1         : 2rem;
$fs_h2         : 1.5rem;
$fs_h3         : 1.25rem;
$fs_running    : calc(0.9rem + ((1vw - 0.24rem) * 0.625));
/**
	 * 0.9rem(14.4px) @ 24rem(384px) increasing to 1.25rem(20px) @ 80rem(1280px)
	 * See websemantics.uk/tools/responsive-font-calculator/
	 * Where 1.1458=100 * font-size_Difference / viewport_Width_Difference
	 * The base value (0.875rem) must be stated in rem to maintain accessibility.
	 */


/**
 * Custom properties from Sass variables
 */

:root {

	--ff-alt       : #{$ff_alt};
	--ff-heading   : #{$ff_heading};
	--ff-running   : #{$ff_running};
	--fs-blockquote: #{$fs_blockquote};
	--fs-fineprint : #{$fs_fineprint};
	--fs-h1        : #{$fs_h1};
	--fs-h2        : #{$fs_h2};
	--fs-h3        : #{$fs_h3};
	--fs-running   : #{$fs_running};
	--leading      : #{$leading};
	--measure      : #{$measure};
	--stretch-min  : #{$stretch_min};
	--gutter       : #{$gutter};
}
