/**
 * Anything that should look like a button. Extended in _button.scss.
 */

@mixin button() {
	background : var(--c-neutral);
	color      : var(--c-running-reversed);
	cursor     : pointer;
	font-family: var(--ff-sans);
	transition : all .2s;

	&:hover {
		background: var(--c-neutral-dark);
		transition: all .2s;
	}

	&:focus {
		background: var(--c-neutral-darker);
		transition: all .2s;
	}

	i.fas {
		display: inline;
	}
}

.\%button {
	@include focusable();
	@include button();
}
