.\!align {
	&\:right {
		display        : flex !important;
		justify-content: flex-end !important;
	}

	&\:text {
		&\:center {
			text-align: center !important;
		}

		&\:left {
			text-align: left !important;
		}

		&\:right {
			text-align: right !important;
		}
	}
}
