.\!color {
	&\:bg\: {
		&lighter {
			background: var(--c-neutral--lighter) !important;
		}

		&lightest {
			background: var(--c-bg) !important;
		}

		&light {
			background: var(--c-neutral--light) !important;
		}
	}

	&\:border\: {
		&bg {
			border-color: var(--c-bg);
		}

		&lighter {
			border-color: var(--c-neutral--lighter) !important;
		}

		&lightest {
			border-color: var(--c-bg) !important;
		}
	}

	&\:reversed {
		background-color: var(--c-bg--reversed);
		color           : var(--c-running--reversed);
	}

	&\:text\: {
		&warning {
			color: var(--c-warning) !important;
		}
	}
}
