/**
 * Specifies font overrides
 */

@mixin ff-alt() {
	font-family: var(--ff-alt);
}

@mixin ff-heading() {
	font-family: var(--ff-heading);
}

.\!font\: {

	// Styles

	&alt {
		@include ff-alt();
	}

	&heading {
		@include ff-heading();
	}

	&sans {
		--ff-recursive--mono: MONO"0";
		font-family         : var(--ff-sans) !important;
	}

	// Sizes

	&xsmall {
		font-size: var(--fs-xsmall) !important;
	}

	&small {
		font-size: var(--fs-small) !important;
	}

	&medium {
		font-size: var(--fs-medium) !important;
	}

	&large {
		font-size: var(--fs-large) !important;
	}

	&xlarge {
		font-size: var(--fs-xlarge) !important;
	}
}
