.\!size {
	&\:border {
		&\:small {
			border-style: solid;
			border-width: var(--border-small);
		}

		&\:medium {
			border-style: solid;
			border-width: var(--border-medium);
		}

		&\:large {
			border-style: solid;
			border-width: var(--border-large);
		}
	}

	&\:text {
		&\:xsmall {
			font-size: var(--fs-xsmall) !important;
		}
	}

	&\:width {
		&\:measure {
			max-width: var(--measure) !important;
		}
	}
}
