/**
 * Lays out grandchildren in a series that wraps.
 *
 * Use-cases: tag clusters, chains of items, navigation etc.
 */

@mixin battery() {
	--battery-space  : 1rem;
	--constrain-width: 100%;

	&>* {
		/**
		* This is a wrapper until flex-box gets a well-supported
		* gap property; we need to calculate some negative
		* margins to get the battery items positioned correctly.
		*/

		align-items    : center;
		display        : flex;
		flex-wrap      : wrap;
		justify-content: flex-start;
		margin         : calc(var(--battery-space) / 2 * -1);
	}

	&>*>* {
		margin   : calc(var(--battery-space) / 2);
		max-width: var(--constrain-width);
	}

	&.\&arrange\: {
		&centered>* {
			justify-content: center;
		}

		&right>* {
			justify-content: flex-end;
		}
	}

	&.\&suppress\:scroller {
		overflow: hidden;
	}

	@include dimension-adjustments(battery, spacing, na);
	@include constraints();
}

.\@battery {
	@include battery();
}
