/**
 * Creates a Pinterest-style masonry layout.
 *
 * Use cases: laying out large numbers of cards, mostly.
 */

@mixin masonry() {
	--space: var(--beat);

	column-gap  : var(--space);
	column-width: var(--measure-min);

	&>* {
		display      : inline-block;
		margin-bottom: var(--space);
		margin-top   : 0;
		width        : 100%;
	}
}

.\@masonry {
	@include masonry();
}
