/**
 * Pulls an element to one side.
 *
 * Use cases: quotes, inline nav, asides etc.
 */

@mixin pull() {
	--pull-size       : 38%;
	--pull-space      : var(--beat);
	--pull-space-vert : var(--pull-space);
	--pull-space-above: var(--pull-space-vert);
	--pull-space-below: var(--pull-space-vert);
	--pull-space-left : 0;
	--pull-space-right: 0;

	margin-bottom: var(--pull-space-below);
	margin-left  : var(--pull-space-left);
	margin-right : var(--pull-space-right);
	margin-top   : var(--pull-space-above);
	max-width    : var(--pull-size) !important;

	@include dimension-adjustments(pull, spacing, vertical);

	&>*+* {
		--head-space: 0;
	}

	&.\&arrange\: {
		&left {
			--pull-space-right: var(--beat-small);

			float: left;
		}

		&right {
			--pull-space-left: var(--beat-small);

			float: right;
		}
	}

	&.\&size\: {
		&small {
			--pull-size: 38%;

			@include breakpoint($widescreen) {
				--pull-size: 19%;
			}
		}

		&medium {
			--pull-size: 50%;

			@include breakpoint($widescreen) {
				--pull-size: 38%;
			}
		}

		&large {
			--pull-size: 100%;

			margin-left : 0;
			margin-right: 0;

			@include breakpoint($widescreen) {
				--pull-size: 50%;

				margin-left : var(--pull-space-left);
				margin-right: var(--pull-space-right);
			}
		}
	}
}

.\@pull {
	@include pull();
}
