/**
 * Pull blocks to one side, for quotes, inline nav, asides etc.
 */

@mixin pull() {
	--border-width: 0;
	--pull-size   : 38%;
	--pull-space  : var(--beat);

	border          : var(--border-width) solid var(--c-neutral);
	// margin-bottom: calc(var(--pull-space) - var(--border-width));
	// margin-top   : calc(var(--pull-space) - var(--border-width));
	max-width       : var(--pull-size) !important;

	&>*+* {
		--head-space: 0;
	}

	&.\&arrange\: {
		&left {
			float       : left;
			margin-right: calc(var(--pull-space) / 2);
		}

		&right {
			float      : right;
			margin-left: calc(var(--pull-space) / 2);
		}
	}

	&.\&size\: {
		&small {
			--pull-size: 38%;

			@include breakpoint($widescreen) {
				--pull-size: 19%;
			}
		}

		&medium {
			--pull-size: 50%;

			@include breakpoint($widescreen) {
				--pull-size: 38%;
			}
		}

		&large {
			--pull-size : 100%;
			--pull-space: 0;

			@include breakpoint($widescreen) {
				--pull-size : 50%;
				--pull-space: var(--beat);
			}
		}
	}
}

.\@pull {
	@include pull();
}
