/**
 * Lays out grandchildren in a series that wraps.
 *
 * Use-cases: tag clusters, chains of items, navigation etc.
 */

@mixin battery() {
	--battery-space: 1rem;

	*+* {
		margin-top: 0;
	}

	&>* {
		align-items    : center;
		display        : flex;
		flex-wrap      : wrap;
		justify-content: flex-start;
		margin         : calc(var(--battery-space) / 2 * -1);
	}

	&>*>* {
		margin: calc(var(--battery-space) / 2);
	}

	&.\&arrange {
		&\:centered>* {
			justify-content: center;
		}

		&\:right>* {
			justify-content: flex-end;
		}
	}

	&.\&suppress-scroller {
		overflow: hidden;
	}

	@include dimension-adjustments(battery, spacing, na);
}

.\@battery {
	@include battery();
}
