/**
 * A box. With padding. That's it. It's a primitive, not an 
 * object.
 *
 * Use cases: pretty much anything, but actually less than you'd
 * think. It's handy for including on the <article> element, for
 * instance.
 */

@mixin box() {
	--space      : var(--beat);
	--space-above: var(--space);
	--space-below: var(--space);
	--space-left : var(--space);
	--space-right: var(--space);

	padding-bottom: var(--space-below);
	padding-left  : var(--space-left);
	padding-right : var(--space-right);
	padding-top   : var(--space-above);

	@include dimension-adjustments(spacing);
}

.\@box {
	@include box();
}
