/**
 * A box. With padding. That's it. It's a primitive, not an 
 * object.
 *
 * Use cases: pretty much anything, but actually less than you'd
 * think. It's handy for including on the <article> element, for
 * instance.
 */

@mixin box() {
	--box-space      : var(--beat);
	--box-space-above: var(--box-space);
	--box-space-below: var(--box-space);
	--box-space-left : var(--box-space);
	--box-space-right: var(--box-space);

	padding-bottom: var(--box-space-below);
	padding-left  : var(--box-space-left);
	padding-right : var(--box-space-right);
	padding-top   : var(--box-space-above);

	@include dimension-adjustments(box, spacing, both);
}

.\@box {
	@include box();
}
