/**
 * Centers its children horizontally in a stack
 * 
 * Use cases: pretty much anything.
 */

@mixin center-h() {
	--height        : autofit;
	--center-h-space: beats(1);
	--width         : 100%;

	// Structural settings
	align-items   : center;
	box-sizing    : content-box;
	display       : flex;
	flex-direction: column;
	margin-left   : auto;
	margin-right  : auto;

	// Adjustable settings
	max-width    : var(--width);
	min-height   : var(--height);
	padding-left : var(--center-h-space);
	padding-right: var(--center-h-space);

	@include dimension-adjustments(center-h, spacing, na);
}

.\@center-h {
	@include center-h();
}
