/**
 * Lays out direct children in a grid format.
 *
 * Use cases: lists of posts, feature-lists etc.
 */

@mixin grid() {
	--grid-space: 0;

	display              : grid;
	grid-gap             : var(--grid-space);
	grid-template-columns: repeat(auto-fit, minmax(var(--measure-min), 1fr)); // auto add new cols

	@include dimension-adjustments(grid, spacing, na);
}

.\@grid {
	@include grid();
}
