/**
 * Pull blocks to one side, for quotes, inline nav, asides etc.
 */

@mixin pull() {
	--space: var(--beat);

	@include breakpoint($widescreen) {
		margin-bottom: var(--space);
		margin-top   : calc(var(--space) - var(--border));
		max-width    : 50%;

		&.\&align-left {
			float       : left;
			margin-right: calc(var(--space) / 2);
		}

		&.\&align-right {
			float      : right;
			margin-left: calc(var(--space) / 2);
		}
	}
}

.\@pull {
	@include pull();
}
