/**
 * Highlight an element when someone jumps to it from a link.
 */

@keyframes focus-highlight {
	0% {
		background: var(--c-bg);
	}

	10% {
		background: var(--c-bg);
	}

	20% {
		background: var(--c-highlight);
	}

	100% {
		background: var(--c-bg);
	}
}
