@mixin button() {
	@include \!chromatic-aberration(.2rem, 0);
	background: var(--c-running);
	color     : var(--c-bg);
	cursor    : pointer;
	padding   : beats(.5) beats(1);
	transition: .1s all;

	&:hover {
		@include \!chromatic-aberration(.3rem, 0);
		transform : scale(1.05);
		transition: .2s all;
	}
}

button,
input[type="submit"] {
	@include button();
}
