/**
* Review elements. Selectors are organized below by their 
* conventional order in the review template.
*/

@mixin review() {

	--review-space: var(--beat-small);

	padding: 0;

	/**
	 * Review image
	 */

	&>img {
		height    : auto;
		margin    : 0;
		object-fit: cover;
		width     : 100%
	}

	/**
	 * Review header items
	 */

	header {
		--head-space: 0;

		align-items: flex-start;
		background : var(--c-neutral-lighter);
		display    : flex;
		padding    : var(--review-space);

		li {
			font-family: var(--ff-heading);
			font-size  : var(--fs-xsmall);
			list-style : none;
			margin     : 0;
			padding    : 0;
		}

		.__avatar {
			// This should be the wrapper for a user icon in wireframes
			color       : var(--c-neutral-dark);
			font-size   : beats(2);
			line-height : 1;
			margin-right: var(--beat-xsmall);
		}

		.__meta {
			.__author {
				font-weight: var(--fw-bold);
			}

			.__stars {
				color     : var(--c-neutral-dark);
				font-size : beats(1);
				margin    : 0;
				margin-top: calc(var(--beats-xs) * -1);

				i[class*='star'] {
					color: var(--c-warning);
				}
			}
		}
	}

	/**
	 * Review content
	 */

	blockquote {
		font-size : var(--fs-xsmall);
		margin-top: 0;
		padding   : var(--review-space);
	}
}

.\+review {
	@include review();
}
