/**
 * Helper mixin to consistently adjust spacing and sizing on
 * layout primitives or objects while staying dry.
 */


@mixin dimension-adjustments($class, $dimension, $axis) {

	$sizes:
		"tight""tight",
		"xsmall""beat-xs",
		"small""beat-s",
		"medium""beat-m",
		"large""beat-l",
		"xlarge""beat-xl";

	@if $dimension==spacing {
		&.\&space {

			@each $size-name,
			$beat-size in $sizes {
				&\:#{$size-name} {
					--#{$class}-space: var(--#{$beat-size});
				}
			}

			@if $axis !=na {
				$axes: "above", "below", "left", "right";

				@each $new-axis in $axes {

					&\:#{$new-axis} {

						@each $size-name,
						$beat-size in $sizes {
							&\:#{$size-name} {
								--#{$class}-space-#{$new-axis}: var(--#{$beat-size});
							}
						}
					}
				}
			}
		}
	}

	@else {
		&.\&size {

			@each $size-name,
			$beat-size in $sizes {
				&\:#{$size-name} {
					--size: var(--#{$beat-size});
				}
			}
		}
	}
}
