/**
 * Creates form-like boxes for visually emphasizing an important
 * place of interaction, such as calls to action.
 */

@mixin action-box() {
	--background: var(--c-neutral-lighter);
	--border    : var(--border-large) solid var(--c-neutral-light);

	background: var(--background);
	border    : var(--border);
}

.\%action-box {
	@include action-box();
}
