/**
 * Any kind of important call to action. Can extend buttons or
 * anchors.
 */

@mixin action-clicker() {
	--button-color: var(--c-alert);
	--text-color  : var(--c-running-reversed);

	background-color: var(--button-color);
	border          : var(--border-medium) solid var(--text-color);
	color           : var(--text-color) !important; // anchor specificity sucks
	cursor          : pointer;
	font-weight     : var(--fw-bold);
	position        : relative;
	transition      : all .2s;

	&::after {
		border    : var(--border-medium) solid var(--text-color);
		bottom    : calc(var(--border-large)*-1);
		content   : '';
		display   : block;
		left      : calc(var(--border-large)*-1);
		position  : absolute;
		right     : calc(var(--border-large)*-1);
		top       : calc(var(--border-large)*-1);
		transition: all .2s;
	}

	&:hover {
		background-color: var(--button-color) !important;
		border-color    : var(--text-color);
		transition      : all .2s;

		&::after {
			border-color: var(--button-color);
			transition  : all .2s;
		}
	}

	&:focus {
		background-color: var(--button-color);
		border-color    : var(--text-color);
		outline         : 0; // for anchors
		transition      : all .2s;

		&::after {
			border-color: var(--text-color);
			border-width: var(--border-small);
			bottom      : var(--border-medium);
			left        : var(--border-medium);
			right       : var(--border-medium);
			top         : var(--border-medium);
			transition  : all .2s;
		}
	}

	small {
		display    : block;
		font-size  : var(--fs-xsmall);
		font-weight: var(--fw-light);
		margin-top : var(--border-medium);
	}

	&.\&secondary {
		--button-color: var(--c-bg);
		--text-color  : var(--c-alert);
	}
}

.\%action-clicker {
	@include action-clicker();
}
