/**
 * Used to establish sane baselines for headings.
 */

@mixin heading() {
	--ff-recursive--mono: "MONO"0;
	font-family         : var(--ff-heading);
	letter-spacing      : -.03em;
	line-height         : 1.2;
	max-width           : var(--measure);
}

.\%heading {
	@include heading();
}
