/**
 * Used to establish sane baselines for headings.
 */

@mixin heading() {
	font-family   : var(--ff-heading);
	letter-spacing: -.03em;
	line-height   : 1.2;
	max-width     : var(--measure);
}

.\%heading {
	@include heading();
}
