/**
 * Used to create callout blocks.
 */

@mixin notice() {
	--bg: #f1f1f1;

	border           : var(--border-large);
	border-color     : var(--c-neutral--light);
	border-left-width: var(--beat-large);
	border-radius    : var(--border-large);
	border-style     : solid;
	font-family      : var(--ff-heading);
	padding          : var(--beat-small);
	position         : relative;

	.__icon {
		font-size : beats(1);
		left      : -#{beats(2)};
		position  : absolute;
		text-align: center;
		width     : beats(2);
	}

	&.\&info {
		--bg        : var(--c-info--bg);
		border-color: var(--c-info--light);
		color       : var(--c-info--dark);
	}

	&.\&warning {
		--bg        : var(--c-warning--bg);
		border-color: var(--c-warning--light);
		color       : var(--c-warning--dark);
	}
}

.\%notice {
	@include notice();
}
