@mixin placeholder() {
	--aspect-ratio: 16/9;
	--size        : var(--beat-xl);

	padding-bottom   : calc(var(--aspect-ratio) * 100%);
	position         : relative;
	// width         : var(--size);

	&>* {
		align-items    : center;
		background     : transparent;
		border         : var(--border-small) solid var(--c-neutral--light);
		bottom         : 0;
		color          : var(--c-neutral--dark);
		display        : flex;
		font-size      : var(--fs-s);
		font-weight    : var(--fw-medium);
		justify-content: center;
		left           : 0;
		overflow       : hidden;
		position       : absolute;
		right          : 0;
		text-align     : center;
		text-transform : uppercase;
		top            : 0;
	}

	&.\&size\:xsmall {
		--size: var(--beat-xs);
	}

	&.\&size\:small {
		--size: var(--beat-s);
	}

	&.\&size\:medium {
		--size: var(--beat-m);
	}

	&.\&size\:large {
		--size: var(--beat-l);
	}

	&.\&size\:xlarge {
		--size: var(--beat-xl);
	}
}

.\%placeholder {
	@include placeholder();
}
