@mixin placeholder() {
	--aspect-ratio    : 16/9;
	--placeholder-size: var(--beat-xl);

	padding-bottom   : calc(var(--aspect-ratio) * 100%);
	position         : relative;
	// width         : var(--size);

	&>* {
		align-items    : center;
		background     : transparent;
		border         : var(--border-small) solid var(--c-neutral--light);
		bottom         : 0;
		color          : var(--c-neutral--dark);
		display        : flex;
		font-size      : var(--fs-s);
		font-weight    : var(--fw-medium);
		justify-content: center;
		left           : 0;
		overflow       : hidden;
		position       : absolute;
		right          : 0;
		text-align     : center;
		text-transform : uppercase;
		top            : 0;
	}

	@include dimension-adjustments(placeholder, sizing, na);
}

.\%placeholder {
	@include placeholder();
}
