dialog {
	--c-bg: var(--c-neutral--lighter);

	background   : var(--c-bg);
	border       : var(--border-medium) solid var(--c-neutral);
	border-radius: var(--border-medium);
	box-shadow   : 0 1rem 1rem rgba(0, 0, 0, 0.1),
		0 2rem 4rem rgba(0, 0, 0, 0.3);
	width: var(--measure);

	&:not([open]) {
		display: none;
	}

	&::backdrop,
	&+.backdrop {
		background : rgba(255, 255, 255, 0.35);
		transition : background 0.25s;
		will-change: background;
	}

	.\?close\(dialog\) {
		background : transparent;
		border     : 0;
		color      : var(--c-running);
		cursor     : pointer;
		height     : var(--beat-large);
		line-height: 3.4rem; // not quite sure why
		margin     : 0;
		overflow   : hidden;
		padding    : 0;
		position   : absolute;
		right      : 0;
		top        : 0;
		width      : var(--beat-large);

		&:hover {
			color     : var(--c-warning);
			transition: all 0.2s;
		}

		&:focus {
			background: var(--c-warning);
			color     : var(--c-running--reversed);
		}

		i {
			font-size : var(--beat);
			font-style: normal;
		}
	}
}
