$text-inputs: "email",
"number",
"password",
"search",
"tel",
"text",
"url";

@each $input in $text-inputs {
	[type="#{$input}"] {
		border    : var(--border-medium) solid var(--c-neutral);
		margin-top: .5rem; // to accommodate the dodging placeholder/label text
		padding   : var(--beat-small);
		transition: all .2s;

		&:hover,
		&:focus,
		&:active {
			border-color: var(--c-neutral--dark);
			transition  : all .2s;
		}

		&::placeholder {
			color: transparent;
		}
	}
}

label {
	color    : var(--c-neutral--dark);
	font-size: var(--fs-small);
}
