/**
 * Centers its children horizontally in the viewport.
 * 
 * Use cases: pretty much anything.
 */

@mixin \@center-h() {
	--height : autofit;
	--padding: 1rem;
	--width  : 100vw;

	// Structural settings
	display       : flex;
	flex-direction: column;

	// Adjustable settings
	max-width : var(--width);
	min-height: var(--height);
	padding   : var(--padding);

	&>* {
		margin-left : auto;
		margin-right: auto;
	}
}

.\@center-h {
	@include \@center-h();
}
