/**
 * Creates a horizontally-scrolling carousel.
 *
 * Use-cases: image scrollers, testimonial sliders, web TV/movie
 * pickers, etc.
 */

@mixin reel() {
	--reel-space: 1rem;

	display         : flex;
	height          : auto;
	overflow-x      : auto;
	overflow-y      : hidden;
	position        : relative;
	scroll-snap-type: x mandatory;
	scrollbar-color : var(--c-neutral-light) var(--c-neutral);

	/**
	 * Make sure the scrollbar is visible...
	 */

	&::-webkit-scrollbar {
		height: 1rem;
	}

	&::-webkit-scrollbar-track {
		background-color: var(--c-neutral-light);
	}

	&::-webkit-scrollbar-thumb {
		background-color: var(--c-neutral-light);
		background-image: linear-gradient(var(--c-neutral-light) 0, var(--c-neutral-light) 0.25rem, var(--c-neutral) 0.25rem, var(--c-neutral) 0.75rem, var(--c-neutral-light) 0.75rem);
	}

	&>[rel] {
		// Scroller buttons; TODO: make these actually work!
		align-items  : center;
		background   : var(--c-neutral-light);
		border       : var(--border-small) solid var(--c-neutral-light);
		bottom       : 0;
		border-radius: var(--border-small);
		cursor       : pointer;
		display      : flex;
		font-size    : beats(1);
		padding      : beats(.5);
		position     : absolute;
		font-family  : var(--ff-icon);
		top          : 0;
	}

	&>[rel="next"] {
		right: 0;
	}

	&>* {

		// Reel items

		@include focusable();

		flex             : 0 0 auto;
		scroll-snap-align: start;
	}

	&>:last-child {
		margin-right: var(--reel-space);
	}

	&>*+* {
		--head-space: 0; // suppress default owl top margin
		margin-left : var(--reel-space);
		margin-top  : var(--head-space) !important; // in a context of %running
	}

	&>img {
		flex-basis: auto;
		height    : 100%;
		width     : auto;
	}

	&.\&suppress\: {
		&clicker {

			&::after,
			&::before {
				display: none;
			}
		}

		&scroller {
			scrollbar-color: transparent;

			&::-webkit-scrollbar {
				height: 0;
			}

			&::-webkit-scrollbar-track {
				background-color: transparent;
			}

			&::-webkit-scrollbar-thumb {
				background-color: transparent;
				background-image: none;
			}
		}
	}

	&.is\:overflowing {
		padding-bottom: var(--reel-space);

		&.\&suppress\:scroller {
			padding-bottom: 0;
		}
	}

	@include dimension-adjustments(reel, spacing, na);
}

.\@reel {
	@include reel();
}
